body {
  margin: 0 auto;
  width: 100%;
  background-color: gold;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fortune-cookie {
  margin: 4rem;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.title {
  margin: 0 auto;
  width: 100%;
  background-image: url(./assets/fortune-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 5px black;

  h2 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 2rem;
    padding: 1rem;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: none;
  }

  h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .greeting {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px black;
    margin: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 5px;
  }

  .user-question {
    box-shadow: 2px 2px 5px black;
    margin: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #ans-question {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 5px black;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}

.button {
  display: flex;
  justify-content: center;

  #submit-btn {
    padding: 1rem 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: goldenrod;
    color: darkred;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkgray;
  }

  #reload-btn {
    padding: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: none;
    color: black;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    margin-left: 8rem;
  }
}

#fortune {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px black;
  margin: 1rem;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
}

.copyright {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
