body {
  margin: 0 auto;
  width: 100%;
  background-color: gold;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    a {
      padding: 0.5rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fortune-cookie {
  margin: 4rem;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;

  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 5px white;
  }
}

.title {
  margin: 0 auto;
  width: 100%;
  background-image: url(./assets/fortune-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 5px black;

  h2 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    background: none;
  }

  input:hover {
    border: solid 2px black;
    box-shadow: 2px 2px 5px darkred;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .greeting {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px black;
    margin: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 5px;
  }

  .user-question {
    box-shadow: 2px 2px 5px black;
    margin: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #ans-question {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}

.button {
  display: flex;
  justify-content: center;

  #submit-btn {
    padding: 1rem 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: goldenrod;
    color: darkred;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkgray;
  }

  #submit-btn:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkred;
  }

  #reload-btn {
    padding: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: none;
    color: black;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    margin-left: 2rem;
  }

  #reload-btn:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px darkred;
  }
}

#fortune {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
}

.copyright {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  body,
  html {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    padding: 1rem 2rem;
  }

  main,
  header,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    h2 {
      text-shadow: 2px 2px 5px black;
    }
  }

  .fortune-cookie {
    max-width: 100%;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    }

    #submit-btn {
      padding: 1rem 2rem;
      font-size: medium;
    }
  }
}
